body{
    background-color: #F8F0F0;
}

h3{
    background-color: #ffecec;
    border-radius: 8px;
    width: 10%;
    height: 10%;
    text-align: center;
}

#contexte{
    background-color: white;
    border-radius: 8px;
    text-align: center;
    height: 10%;
    width: 100%;
}

.context-box {
    background-color: #ffecec;
    border-radius: 8px;
    width: 400px;
    padding: 10px 0px 0px 10px;
}

.context-box h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #d14a4a;
}

.context-box p {
    margin: 0;
    font-size: 16px;
    color: #333;
}


.chiffresClés {
    display: flex;
    flex-direction:row;
}


.camembert {
    background-color: #87B1C6;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    width: 15%;
}

.donnees {
    color: white;
    border-radius: 8px;
    padding: 12px;
    width: 20%;
    margin-left: 2%;
    max-block-size: fit-content;
    display: flex;
    flex-direction: column;
}

#pourcentages{
    display:flex;
    flex-direction:row;
   
}

.pourcentage {
    background-color: #87B1C6;
    color: white;
    border-radius: 8px;
    text-align: center;
    width: 200%;
    margin-left: 1%;
    margin-top: 5%;
    font-weight: bold;
    font-size: 30px;
    
}

.context-title {
    font-weight: bold;
    background-color: #87B1C6;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    font-size: 40px;
    max-block-size: fit-content;

}

h1 {
    background: #87B1C6;
    color: white;
    width: 25%;
    height: 10%;
    padding: 5px;
    padding-top : 10px;
    padding-bottom : 10px;
    border-radius:0 40px 40px 0;
    text-align: center;
}


.graph{
 
    padding-right : 0;
   
}
