
/* --- Chiffres clés --- */ 

.cell {
    background-color: #87B1C6;
    color: white;
    border-radius: 2%;
}

#chiffres{
 padding-top : 30%;
}


.test2 .survol {
    display: none;

}

.test2:hover .defaut {
    display: none;
    line-height: 0.5;
}

.test2:hover .survol {
    display: block;
    font-size: 20px;
}