
/* --- Chiffres clés --- */ 

.cell {
    background-color: #87B1C6;
    color: white;
    border-radius: 2%;
}

#chiffres{
 padding-top : 40%;
}
#chiffres1{
    padding-top : 25%;
   }

#titre_camembert{
    padding-top : 2%;
}

#cell_camembert{
    padding-bottom : 2%;
}
