
/* --- Chiffres clés --- */ 

.cell {
    background-color: #87B1C6;
    color: white;
    border-radius: 2%;
}

#chiffres{
 padding-top : 25%;
}
#chiffres1{
    padding-top : 40%;
   }

#titre_camembert{
    padding-top : 2%;
}

#cell_camembert{
    padding-bottom : 2%;
}


.test .survol {
    display: none;

}

.test:hover .defaut {
    display: none;
}

.test:hover .survol {
    display: block;
}

.title{
    padding: 5%;
}

#texte1{
    padding-top: 5%;
}

body{
    background-color: #F8F0F0;
}

/* title */

